{% extends 'base.html' %}

{% block page %}

    <h1>{{ chat.name }}</h1>
    {% for message in chat.message.all  %}
        <div>
            <i>{{ message.from_user }}</i>
            <br>
            <b>{{ message.date }}</b>
            <br>
            <h2>{{ message.text }}</h2> 
            <hr>
            <br>
        </div>

    {% endfor %}
    <form action="{% url 'add-message' %} " method="POST">
        {% csrf_token %}
        <input type="text" name="message">
        <input type="hidden" name="chat" value="{{ chat.id }}" readonly>
        <button>Отправить</button>
    </form>
    <span id="end"></span>
{% endblock %}